{
  "openapi": "3.1.0",
  "info": {
    "title": "Optica Omnia API - Playwright Discovery",
    "version": "0.1.0",
    "description": "Automatisch aus Playwright-Aufzeichnungen abgeleitete Rohfassung. Nicht als vollstaendige Hersteller-Spezifikation verstehen."
  },
  "servers": [
    {
      "url": "https://api2.optica-omnia.de"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/apigateway/communicatorservice/reminders/dbopt": {
      "get": {
        "tags": [
          "/apigateway/communicatorservice"
        ],
        "operationId": "get-communicatorservice-reminders-dbopt",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/country/countries": {
      "get": {
        "tags": [
          "/apigateway/country"
        ],
        "operationId": "get-country-countries",
        "parameters": [
          {
            "name": "hasState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "iso3166": {
                            "type": "string"
                          },
                          "iso3166Alpha3": {
                            "type": "string"
                          },
                          "states": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "id"
                              ]
                            }
                          },
                          "dakotaCountry": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "stateName",
                          "iso3166",
                          "iso3166Alpha3",
                          "states",
                          "dakotaCountry",
                          "id"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "unpaged": {
                          "type": "boolean"
                        },
                        "paged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "unpaged",
                        "paged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/department/departments": {
      "get": {
        "tags": [
          "/apigateway/department"
        ],
        "operationId": "get-department-departments",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "ascending": {
                                "type": "boolean"
                              },
                              "descending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "ascending",
                              "descending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "mainUserId": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mainUserName": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "departmentFilialeNames": {
                            "type": "string"
                          },
                          "departmentFilialeLeads": {
                            "type": "string"
                          },
                          "departmentFilialeHeads": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId"
                              ]
                            }
                          },
                          "departmentFilialeUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId",
                                "userId"
                              ]
                            }
                          },
                          "departmentUsers": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "id",
                          "mainUserId",
                          "number",
                          "name",
                          "mainUserName",
                          "active",
                          "departmentFilialeNames",
                          "departmentFilialeLeads",
                          "departmentFilialeHeads",
                          "departmentFilialeUsers",
                          "departmentUsers"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "ascending": {
                            "type": "boolean"
                          },
                          "descending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "ascending",
                          "descending"
                        ]
                      }
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalElements",
                    "totalPages",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/enum-service/enums": {
      "get": {
        "tags": [
          "/apigateway/enum-service"
        ],
        "operationId": "get-enum-service-enums",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "enumType": {
                        "type": "string"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "tvalue": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "key",
                            "label"
                          ]
                        }
                      }
                    },
                    "required": [
                      "enumType",
                      "data"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "faxConnection": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "null"
                          },
                          "employee": {
                            "type": "null"
                          },
                          "ik": {
                            "type": "string"
                          },
                          "taxIdentificationNumber": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "streetNumber": {
                            "type": "string"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "addressAdditional": {
                            "type": "null"
                          },
                          "countryUuid": {
                            "type": "string"
                          },
                          "bitsFilialNumber": {
                            "type": "null"
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "managerIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "addressId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "number",
                          "name",
                          "active",
                          "phoneNumber",
                          "faxConnection",
                          "email",
                          "ik",
                          "taxIdentificationNumber",
                          "street",
                          "streetNumber",
                          "zipCode",
                          "city",
                          "countryUuid",
                          "userIds",
                          "managerIds",
                          "addressId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "ascending": {
                                "type": "boolean"
                              },
                              "descending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "ascending",
                              "descending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "ascending": {
                            "type": "boolean"
                          },
                          "descending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "ascending",
                          "descending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalElements",
                    "totalPages",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen/{uuid}/institutionskennzeichen/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen-by-uuid-institutionskennzeichen-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutionsKennzeichen": {
                      "type": "string"
                    },
                    "label": {
                      "type": "null"
                    },
                    "mipMd5Key": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "filialeName": {
                      "type": "string"
                    },
                    "prequalification": {
                      "type": "boolean"
                    },
                    "dateValidFrom": {
                      "type": "null"
                    },
                    "dateValidTo": {
                      "type": "null"
                    },
                    "id": {
                      "type": "string"
                    },
                    "filialeId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "institutionsKennzeichen",
                    "mipMd5Key",
                    "active",
                    "filialeName",
                    "prequalification",
                    "id",
                    "filialeId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/hilfsmittel/hilfsmittel/termine": {
      "get": {
        "tags": [
          "/apigateway/hilfsmittel"
        ],
        "operationId": "get-hilfsmittel-hilfsmittel-termine",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "done",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "unpaged": {
                          "type": "boolean"
                        },
                        "paged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageSize",
                        "pageNumber",
                        "unpaged",
                        "paged"
                      ]
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalElements",
                    "totalPages",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/kunden/customers/search": {
      "get": {
        "tags": [
          "/apigateway/kunden"
        ],
        "operationId": "get-kunden-customers-search",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "customerNumber": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "null"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "dateOfBirth": {
                            "type": "null"
                          },
                          "formattedDateOfBirth": {
                            "type": "string"
                          },
                          "birthName": {
                            "type": "null"
                          },
                          "versichertennummer": {
                            "type": "null"
                          },
                          "phoneNumber": {
                            "type": "null"
                          },
                          "phoneNumberMobile": {
                            "type": "null"
                          },
                          "email": {
                            "type": "null"
                          },
                          "fiBuAccountNumber": {
                            "type": "null"
                          },
                          "faxConnection": {
                            "type": "null"
                          },
                          "dateOfDeath": {
                            "type": "null"
                          },
                          "gdprSigned": {
                            "type": "boolean"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "addressStreet": {
                            "type": "string"
                          },
                          "addressHouseNumber": {
                            "type": "string"
                          },
                          "addressZipCode": {
                            "type": "string"
                          },
                          "addressPoBox": {
                            "type": "null"
                          },
                          "addressCity": {
                            "type": "string"
                          },
                          "addressAdditional": {
                            "type": "null"
                          },
                          "addressDateValidFrom": {
                            "type": "string"
                          },
                          "addressDateValidTo": {
                            "type": "null"
                          },
                          "addressRoom": {
                            "type": "null"
                          },
                          "addressArea": {
                            "type": "null"
                          },
                          "kostentraegerType": {
                            "type": "null"
                          },
                          "kostentraegerName": {
                            "type": "null"
                          },
                          "kostentraegerIk": {
                            "type": "null"
                          },
                          "kostentraegerStreet": {
                            "type": "null"
                          },
                          "kostentraegerStreetNumber": {
                            "type": "null"
                          },
                          "kostentraegerZipCode": {
                            "type": "null"
                          },
                          "kostentraegerCity": {
                            "type": "null"
                          },
                          "kostentraegerVersichertennummer": {
                            "type": "null"
                          },
                          "kostentraegerDateValidFrom": {
                            "type": "null"
                          },
                          "kostentraegerDateValidTo": {
                            "type": "null"
                          },
                          "kostentraegerDateExemptFrom": {
                            "type": "null"
                          },
                          "kostentraegerDateExemptTo": {
                            "type": "null"
                          },
                          "kostentraegerDataOrigin": {
                            "type": "null"
                          },
                          "leistennummer": {
                            "type": "null"
                          },
                          "id": {
                            "type": "string"
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "kundenbetreuerId": {
                            "type": "null"
                          },
                          "paymentTermsId": {
                            "type": "string"
                          },
                          "deliveryTermsId": {
                            "type": "null"
                          },
                          "addressId": {
                            "type": "string"
                          },
                          "addressType": {
                            "type": "string"
                          },
                          "addressCountryId": {
                            "type": "string"
                          },
                          "addressStateId": {
                            "type": "null"
                          },
                          "kostentraegerId": {
                            "type": "null"
                          },
                          "kostentraegerVersichertenstatus": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "type",
                          "customerNumber",
                          "firstName",
                          "lastName",
                          "formattedDateOfBirth",
                          "gdprSigned",
                          "active",
                          "addressStreet",
                          "addressHouseNumber",
                          "addressZipCode",
                          "addressCity",
                          "addressDateValidFrom",
                          "id",
                          "salutation",
                          "paymentTermsId",
                          "addressId",
                          "addressType",
                          "addressCountryId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/mail/gateway-configurations/user-mail-addresses": {
      "get": {
        "tags": [
          "/apigateway/mail"
        ],
        "operationId": "get-mail-gateway-configurations-user-mail-addresses",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/mail/mails/unread-number": {
      "get": {
        "tags": [
          "/apigateway/mail"
        ],
        "operationId": "get-mail-mails-unread-number",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/navigation/navigations/details": {
      "get": {
        "tags": [
          "/apigateway/navigation"
        ],
        "operationId": "get-navigation-navigations-details",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "parentIdentifier": {
                        "type": "null"
                      },
                      "permissionIdentifier": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string"
                      },
                      "backgroundClass": {
                        "type": "string"
                      },
                      "iconClass": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "app": {
                        "type": "boolean"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "parentIdentifier": {
                              "type": "string"
                            },
                            "permissionIdentifier": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            },
                            "backgroundClass": {
                              "type": "string"
                            },
                            "iconClass": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "app": {
                              "type": "boolean"
                            },
                            "children": {
                              "type": "array",
                              "items": {}
                            }
                          },
                          "required": [
                            "identifier",
                            "parentIdentifier",
                            "permissionIdentifier",
                            "icon",
                            "backgroundClass",
                            "iconClass",
                            "name",
                            "url",
                            "app",
                            "children"
                          ]
                        }
                      }
                    },
                    "required": [
                      "identifier",
                      "permissionIdentifier",
                      "icon",
                      "backgroundClass",
                      "iconClass",
                      "name",
                      "url",
                      "app",
                      "children"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/notification/notifications": {
      "get": {
        "tags": [
          "/apigateway/notification"
        ],
        "operationId": "get-notification-notifications",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "severity": {
                            "type": "string"
                          },
                          "downloadableFiles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fileId": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "saveWithoutView": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "fileId",
                                "fileName",
                                "saveWithoutView"
                              ]
                            }
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "clickToClose": {
                            "type": "boolean"
                          },
                          "note": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "severity",
                          "downloadableFiles",
                          "requestId",
                          "icon",
                          "title",
                          "clickToClose",
                          "note"
                        ]
                      },
                      "id": {
                        "type": "string"
                      },
                      "readStatus": {
                        "type": "boolean"
                      },
                      "notificationCenter": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "date",
                      "type",
                      "data",
                      "id",
                      "readStatus",
                      "notificationCenter"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/notification/notifications/all": {
      "get": {
        "tags": [
          "/apigateway/notification"
        ],
        "operationId": "get-notification-notifications-all",
        "parameters": [
          {
            "name": "notificationCenter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "readStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "severity": {
                                "type": "string"
                              },
                              "downloadableFiles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fileId": {
                                      "type": "string"
                                    },
                                    "fileName": {
                                      "type": "string"
                                    },
                                    "saveWithoutView": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "fileId",
                                    "fileName",
                                    "saveWithoutView"
                                  ]
                                }
                              },
                              "requestId": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "clickToClose": {
                                "type": "boolean"
                              },
                              "note": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "severity",
                              "downloadableFiles",
                              "requestId",
                              "icon",
                              "title",
                              "clickToClose",
                              "note"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "readStatus": {
                            "type": "boolean"
                          },
                          "notificationCenter": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "date",
                          "type",
                          "data",
                          "id",
                          "readStatus",
                          "notificationCenter"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "object",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            },
                            "sorted": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "empty",
                            "unsorted",
                            "sorted"
                          ]
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        },
                        "sorted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "empty",
                        "unsorted",
                        "sorted"
                      ]
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/sales/salesprocesses/kpi-statistics": {
      "get": {
        "tags": [
          "/apigateway/sales"
        ],
        "operationId": "get-sales-salesprocesses-kpi-statistics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sum": {
                        "type": "integer"
                      },
                      "statusId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "sum",
                      "statusId"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/sales/salesprocesses/search": {
      "post": {
        "tags": [
          "/apigateway/sales"
        ],
        "operationId": "post-sales-salesprocesses-search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "integer"
                          },
                          "dvNumber": {
                            "type": "null"
                          },
                          "editorName": {
                            "type": "string"
                          },
                          "editorType": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerLastName": {
                            "type": "string"
                          },
                          "customerFirstName": {
                            "type": "string"
                          },
                          "customerDateOfBirth": {
                            "type": "string"
                          },
                          "customerStreet": {
                            "type": "null"
                          },
                          "customerHouseNumber": {
                            "type": "null"
                          },
                          "customerZipCode": {
                            "type": "null"
                          },
                          "customerCity": {
                            "type": "null"
                          },
                          "customerVersichertennummer": {
                            "type": "string"
                          },
                          "customerPhoneNumberPrivate": {
                            "type": "null"
                          },
                          "customerPhoneNumberMobile": {
                            "type": "null"
                          },
                          "date": {
                            "type": "string"
                          },
                          "deliveryDateScheduled": {
                            "type": "null"
                          },
                          "deliveryDate": {
                            "type": "null"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "zuzahlungsbefreit": {
                            "type": "boolean"
                          },
                          "kostentraegerNameCity": {
                            "type": "string"
                          },
                          "kostentraegerName": {
                            "type": "string"
                          },
                          "kostentraegerCity": {
                            "type": "string"
                          },
                          "kostentraegerType": {
                            "type": "string"
                          },
                          "ekv": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "null"
                          },
                          "arztFirstName": {
                            "type": "null"
                          },
                          "arztLastName": {
                            "type": "null"
                          },
                          "arztCity": {
                            "type": "null"
                          },
                          "vermittlerDescription": {
                            "type": "null"
                          },
                          "vermittlerType": {
                            "type": "null"
                          },
                          "vermittlerFirstName": {
                            "type": "null"
                          },
                          "vermittlerLastName": {
                            "type": "null"
                          },
                          "vermittlerTitle": {
                            "type": "null"
                          },
                          "filialeIkNumber": {
                            "type": "string"
                          },
                          "versorgungStartDate": {
                            "type": "string"
                          },
                          "versorgungEndDate": {
                            "type": "string"
                          },
                          "rezeptDate": {
                            "type": "null"
                          },
                          "commaSeparatedArt": {
                            "type": "null"
                          },
                          "artFreitext": {
                            "type": "null"
                          },
                          "selectedForCollectiveInvoice": {
                            "type": "boolean"
                          },
                          "tourenplanung": {
                            "type": "boolean"
                          },
                          "kvStatus": {
                            "type": "null"
                          },
                          "kvDate": {
                            "type": "null"
                          },
                          "kvApprovalNumber": {
                            "type": "null"
                          },
                          "kvApprovalDate": {
                            "type": "null"
                          },
                          "artGesamt": {
                            "type": "string"
                          },
                          "customerNumber": {
                            "type": "string"
                          },
                          "debitorNumber": {
                            "type": "string"
                          },
                          "totalGrossCustomerPortion": {
                            "type": "integer"
                          },
                          "totalGrossKostentraegerPortion": {
                            "type": "integer"
                          },
                          "totalGross": {
                            "type": "integer"
                          },
                          "totalNet": {
                            "type": "integer"
                          },
                          "totalWirtschaftlicheAufzahlung": {
                            "type": "integer"
                          },
                          "arzt": {
                            "type": "null"
                          },
                          "offenPrivatanteilBrutto": {
                            "type": "integer"
                          },
                          "offenKostentraegeranteilBrutto": {
                            "type": "integer"
                          },
                          "grossRevenueWithWirtschaftlicheAufzahlung": {
                            "type": "integer"
                          },
                          "grossRevenue": {
                            "type": "integer"
                          },
                          "totalGrossPrivatePositions": {
                            "type": "integer"
                          },
                          "totalGrossKostentraegerPositions": {
                            "type": "integer"
                          },
                          "costCenterName": {
                            "type": "null"
                          },
                          "resupply": {
                            "type": "null"
                          },
                          "infoxOrder": {
                            "type": "null"
                          },
                          "isGutschrift": {
                            "type": "boolean"
                          },
                          "gutschriftReferenceNumbers": {
                            "type": "null"
                          },
                          "materialPositionen": {
                            "type": "boolean"
                          },
                          "filialeName": {
                            "type": "string"
                          },
                          "departmentName": {
                            "type": "null"
                          },
                          "fakturiertPrivat": {
                            "type": "boolean"
                          },
                          "fakturiertKostentraeger": {
                            "type": "boolean"
                          },
                          "fakturiertKostentraegerBelegnummer": {
                            "type": "null"
                          },
                          "fakturiertPrivatBelegnummerTief": {
                            "type": "null"
                          },
                          "authorName": {
                            "type": "string"
                          },
                          "consultantName": {
                            "type": "string"
                          },
                          "emergencyCare": {
                            "type": "boolean"
                          },
                          "preisermittlung": {
                            "type": "string"
                          },
                          "firstPositionArticleNumber": {
                            "type": "string"
                          },
                          "firstPositionDescription": {
                            "type": "string"
                          },
                          "firstPositionHmvNumber": {
                            "type": "string"
                          },
                          "firstPositionLeistungsart": {
                            "type": "string"
                          },
                          "firstPositionWarengruppe": {
                            "type": "string"
                          },
                          "firstPositionHersteller": {
                            "type": "string"
                          },
                          "requiredUdiState": {
                            "type": "string"
                          },
                          "rezeptRequired": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "editorId": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "kostentraegerId": {
                            "type": "string"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "versorgungsStatusId": {
                            "type": "string"
                          },
                          "arztId": {
                            "type": "null"
                          },
                          "vermittlerId": {
                            "type": "null"
                          },
                          "filialeIkId": {
                            "type": "string"
                          },
                          "seriennummer": {
                            "type": "null"
                          },
                          "filialeId": {
                            "type": "string"
                          },
                          "departmentId": {
                            "type": "null"
                          },
                          "authorId": {
                            "type": "string"
                          },
                          "consultantId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "number",
                          "editorName",
                          "editorType",
                          "customerName",
                          "customerLastName",
                          "customerFirstName",
                          "customerDateOfBirth",
                          "customerVersichertennummer",
                          "date",
                          "active",
                          "zuzahlungsbefreit",
                          "kostentraegerNameCity",
                          "kostentraegerName",
                          "kostentraegerCity",
                          "kostentraegerType",
                          "ekv",
                          "filialeIkNumber",
                          "versorgungStartDate",
                          "versorgungEndDate",
                          "selectedForCollectiveInvoice",
                          "tourenplanung",
                          "artGesamt",
                          "customerNumber",
                          "debitorNumber",
                          "totalGrossCustomerPortion",
                          "totalGrossKostentraegerPortion",
                          "totalGross",
                          "totalNet",
                          "totalWirtschaftlicheAufzahlung",
                          "offenPrivatanteilBrutto",
                          "offenKostentraegeranteilBrutto",
                          "grossRevenueWithWirtschaftlicheAufzahlung",
                          "grossRevenue",
                          "totalGrossPrivatePositions",
                          "totalGrossKostentraegerPositions",
                          "isGutschrift",
                          "materialPositionen",
                          "filialeName",
                          "fakturiertPrivat",
                          "fakturiertKostentraeger",
                          "authorName",
                          "consultantName",
                          "emergencyCare",
                          "preisermittlung",
                          "firstPositionArticleNumber",
                          "firstPositionDescription",
                          "firstPositionHmvNumber",
                          "firstPositionLeistungsart",
                          "firstPositionWarengruppe",
                          "firstPositionHersteller",
                          "requiredUdiState",
                          "rezeptRequired",
                          "id",
                          "editorId",
                          "customerId",
                          "kostentraegerId",
                          "statusId",
                          "versorgungsStatusId",
                          "filialeIkId",
                          "filialeId",
                          "authorId",
                          "consultantId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalElements",
                    "totalPages",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "editor": {
                    "type": "object",
                    "properties": {
                      "editorIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "editorIds"
                    ]
                  }
                },
                "required": [
                  "status",
                  "keywords",
                  "active",
                  "editor"
                ]
              }
            }
          }
        }
      }
    },
    "/apigateway/salesprocessservice/status/search": {
      "post": {
        "tags": [
          "/apigateway/salesprocessservice"
        ],
        "operationId": "post-salesprocessservice-status-search",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "null"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "standardDv": {
                            "type": "boolean"
                          },
                          "standardVersorgung": {
                            "type": "boolean"
                          },
                          "standardSales": {
                            "type": "boolean"
                          },
                          "closedSales": {
                            "type": "boolean"
                          },
                          "correspondingSalesState": {
                            "type": "null"
                          },
                          "enabled": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "enabledCommaSeparated": {
                            "type": "string"
                          },
                          "standardCommaSeparated": {
                            "type": "string"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "description",
                          "active",
                          "standardDv",
                          "standardVersorgung",
                          "standardSales",
                          "closedSales",
                          "enabled",
                          "enabledCommaSeparated",
                          "standardCommaSeparated",
                          "hidden",
                          "id"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalElements",
                    "totalPages",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/apigateway/supplier/suppliers": {
      "get": {
        "tags": [
          "/apigateway/supplier"
        ],
        "operationId": "get-supplier-suppliers",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "industryId": {
                            "type": "null"
                          },
                          "website": {
                            "type": "null"
                          },
                          "email": {
                            "type": "string"
                          },
                          "faxConnection": {
                            "type": "string"
                          },
                          "commercialRegisterNumber": {
                            "type": "null"
                          },
[...]
