{
  "openapi": "3.1.0",
  "info": {
    "title": "Optica Omnia API - Playwright Discovery",
    "version": "0.1.0",
    "description": "Automatisch aus Playwright-Aufzeichnungen abgeleitete Rohfassung. Nicht als vollstaendige Hersteller-Spezifikation verstehen."
  },
  "servers": [
    {
      "url": "https://api2.optica-omnia.de"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/apigateway/accounting/material-groups": {
      "get": {
        "tags": [
          "/apigateway/accounting"
        ],
        "operationId": "get-accounting-material-groups",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "hmvRanges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "hmvFrom": {
                                  "type": "string"
                                },
                                "hmvTo": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "hmvFrom",
                                "hmvTo"
                              ]
                            }
                          },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountType": {
                                  "type": "string"
                                },
                                "vatRatePercentage": {
                                  "type": "integer"
                                },
                                "vatRateKey": {
                                  "type": "string"
                                },
                                "accountId": {
                                  "type": "string"
                                },
                                "filialeId": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "accountType",
                                "vatRatePercentage",
                                "vatRateKey",
                                "accountId"
                              ]
                            }
                          },
                          "stockRequiredFields": {
                            "type": "array",
                            "items": {}
                          },
                          "hmvRequiredFields": {
                            "type": "array",
                            "items": {}
                          },
                          "useBranchAccounts": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "number",
                          "description",
                          "active",
                          "hmvRanges",
                          "accounts",
                          "stockRequiredFields",
                          "hmvRequiredFields",
                          "useBranchAccounts"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalElements",
                    "totalPages",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/accounting/material-groups/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/accounting"
        ],
        "operationId": "get-accounting-material-groups-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "hmvRanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "hmvFrom": {
                            "type": "string"
                          },
                          "hmvTo": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "hmvFrom",
                          "hmvTo"
                        ]
                      }
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string"
                          },
                          "vatRatePercentage": {
                            "type": "integer"
                          },
                          "vatRateKey": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "filialeId": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "accountType",
                          "vatRatePercentage",
                          "vatRateKey",
                          "accountId"
                        ]
                      }
                    },
                    "stockRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "hmvRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "useBranchAccounts": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "number",
                    "description",
                    "active",
                    "hmvRanges",
                    "accounts",
                    "stockRequiredFields",
                    "hmvRequiredFields",
                    "useBranchAccounts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/accounting/payment-terms": {
      "get": {
        "tags": [
          "/apigateway/accounting"
        ],
        "operationId": "get-accounting-payment-terms",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "paymentTarget": {
                            "type": "integer"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "defaultPaymentTerm": {
                            "type": "boolean"
                          },
                          "paymentTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cashDiscountDays1": {
                            "type": "null"
                          },
                          "cashDiscountDays2": {
                            "type": "null"
                          },
                          "cashDiscountPercentage1": {
                            "type": "null"
                          },
                          "cashDiscountPercentage2": {
                            "type": "null"
                          },
                          "hasDiscount": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "title",
                          "paymentTarget",
                          "active",
                          "defaultPaymentTerm",
                          "paymentTypes",
                          "hasDiscount",
                          "id"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalElements",
                    "totalPages",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "migratedId": {
                      "type": "null"
                    },
                    "articleNumber": {
                      "type": "string"
                    },
                    "dataOrigin": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "cloudDescription": {
                      "type": "string"
                    },
                    "producer": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "id"
                      ]
                    },
                    "color": {
                      "type": "string"
                    },
                    "side": {
                      "type": "string"
                    },
                    "barcodeNr": {
                      "type": "null"
                    },
                    "pzn": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "hmvNr": {
                      "type": "string"
                    },
                    "eanCode": {
                      "type": "string"
                    },
                    "serviceTypes": {
                      "type": "array",
                      "items": {}
                    },
                    "validation": {
                      "type": "null"
                    },
                    "priceData": {
                      "type": "object",
                      "properties": {
                        "suggestedRetailPrice": {
                          "type": "integer"
                        },
                        "sellingPrice": {
                          "type": "integer"
                        },
                        "vatRateKey": {
                          "type": "string"
                        },
                        "quantityUnit": {
                          "type": "string"
                        },
                        "wirtschaftlicheAufzahlung": {
                          "type": "boolean"
                        },
                        "purchasePrice": {
                          "type": "number"
                        },
                        "purchasePriceActual": {
                          "type": "integer"
                        },
                        "computePurchasePriceActual": {
                          "type": "boolean"
                        },
                        "unitSell": {
                          "type": "string"
                        },
                        "discount": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "string"
                        },
                        "minimumBulkQuantity": {
                          "type": "null"
                        },
                        "unitBuy": {
                          "type": "string"
                        },
                        "unitSize": {
                          "type": "null"
                        },
                        "base": {
                          "type": "string"
                        },
                        "computeBulkPurchasePrice": {
                          "type": "boolean"
                        },
                        "bulkPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "hasBulkPrices": {
                          "type": "boolean"
                        },
                        "alternativeSellingPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "id": {
                          "type": "string"
                        },
                        "articleId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "suggestedRetailPrice",
                        "sellingPrice",
                        "vatRateKey",
                        "quantityUnit",
                        "wirtschaftlicheAufzahlung",
                        "purchasePrice",
                        "purchasePriceActual",
                        "computePurchasePriceActual",
                        "unitSell",
                        "vatRateBuy",
                        "unitBuy",
                        "base",
                        "computeBulkPurchasePrice",
                        "bulkPrices",
                        "hasBulkPrices",
                        "alternativeSellingPrices",
                        "id",
                        "articleId"
                      ]
                    },
                    "catalog": {
                      "type": "string"
                    },
                    "checksum": {
                      "type": "integer"
                    },
                    "hasCloudUpdate": {
                      "type": "boolean"
                    },
                    "cloudUpdatedAt": {
                      "type": "null"
                    },
                    "manualUpdatedAt": {
                      "type": "null"
                    },
                    "orderNr": {
                      "type": "string"
                    },
                    "stockRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "hmvRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "pznPriceData": {
                      "type": "object",
                      "properties": {
                        "langName": {
                          "type": "string"
                        },
                        "aepNetto": {
                          "type": "number"
                        },
                        "avkGross": {
                          "type": "integer"
                        },
                        "unitSell": {
                          "type": "null"
                        },
                        "vatRateSell": {
                          "type": "string"
                        },
                        "darreichungsForm": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "discountProducer": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "string"
                        },
                        "unitBuy": {
                          "type": "null"
                        },
                        "unitSellBuyFactor": {
                          "type": "null"
                        },
                        "empty": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "langName",
                        "aepNetto",
                        "avkGross",
                        "vatRateSell",
                        "darreichungsForm",
                        "amount",
                        "unit",
                        "vatRateBuy",
                        "empty"
                      ]
                    },
                    "articleHints": {
                      "type": "array",
                      "items": {}
                    },
                    "id": {
                      "type": "string"
                    },
                    "producerId": {
                      "type": "string"
                    },
                    "articleSize": {
                      "type": "string"
                    },
                    "materialGroupId": {
                      "type": "string"
                    },
                    "hilfsmittelArtId": {
                      "type": "null"
                    },
                    "wartungInternInterval": {
                      "type": "null"
                    },
                    "wartungHerstellerInterval": {
                      "type": "null"
                    },
                    "stkInterval": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "articleNumber",
                    "dataOrigin",
                    "description",
                    "cloudDescription",
                    "producer",
                    "color",
                    "side",
                    "pzn",
                    "active",
                    "hmvNr",
                    "eanCode",
                    "serviceTypes",
                    "priceData",
                    "catalog",
                    "checksum",
                    "hasCloudUpdate",
                    "orderNr",
                    "stockRequiredFields",
                    "hmvRequiredFields",
                    "pznPriceData",
                    "articleHints",
                    "id",
                    "producerId",
                    "articleSize",
                    "materialGroupId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/computed-order-value/{id}": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-computed-order-value-by-id",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articleId": {
                      "type": "string"
                    },
                    "supplierId": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "purchasePrice": {
                      "type": "number"
                    },
                    "purchasePriceActual": {
                      "type": "number"
                    },
                    "discount": {
                      "type": "null"
                    },
                    "bulkPrices": {
                      "type": "array",
                      "items": {}
                    },
                    "orderValue": {
                      "type": "number"
                    },
                    "unitPriceNet": {
                      "type": "number"
                    },
                    "minimumBulkQuantityInUnit": {
                      "type": "integer"
                    },
                    "orderQuantityUnitSize": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "articleId",
                    "supplierId",
                    "quantity",
                    "purchasePrice",
                    "purchasePriceActual",
                    "bulkPrices",
                    "orderValue",
                    "unitPriceNet",
                    "minimumBulkQuantityInUnit",
                    "orderQuantityUnitSize"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/details/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-details-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "messageKey": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "id",
                    "severity",
                    "correlationId",
                    "timestamp",
                    "messageKey",
                    "message",
                    "details"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/merchandise-management-setting": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-merchandise-management-setting",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "articleId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "enabled",
                    "articleId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/price-data": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-price-data",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestedRetailPrice": {
                      "type": "integer"
                    },
                    "sellingPrice": {
                      "type": "integer"
                    },
                    "vatRateKey": {
                      "type": "string"
                    },
                    "quantityUnit": {
                      "type": "string"
                    },
                    "wirtschaftlicheAufzahlung": {
                      "type": "boolean"
                    },
                    "purchasePrice": {
                      "type": "number"
                    },
                    "purchasePriceActual": {
                      "type": "integer"
                    },
                    "computePurchasePriceActual": {
                      "type": "boolean"
                    },
                    "unitSell": {
                      "type": "string"
                    },
                    "discount": {
                      "type": "null"
                    },
                    "vatRateBuy": {
                      "type": "string"
                    },
                    "minimumBulkQuantity": {
                      "type": "null"
                    },
                    "unitBuy": {
                      "type": "string"
                    },
                    "unitSize": {
                      "type": "null"
                    },
                    "base": {
                      "type": "string"
                    },
                    "computeBulkPurchasePrice": {
                      "type": "boolean"
                    },
                    "bulkPrices": {
                      "type": "array",
                      "items": {}
                    },
                    "hasBulkPrices": {
                      "type": "boolean"
                    },
                    "alternativeSellingPrices": {
                      "type": "array",
                      "items": {}
                    },
                    "id": {
                      "type": "string"
                    },
                    "articleId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "suggestedRetailPrice",
                    "sellingPrice",
                    "vatRateKey",
                    "quantityUnit",
                    "wirtschaftlicheAufzahlung",
                    "purchasePrice",
                    "purchasePriceActual",
                    "computePurchasePriceActual",
                    "unitSell",
                    "vatRateBuy",
                    "unitBuy",
                    "base",
                    "computeBulkPurchasePrice",
                    "bulkPrices",
                    "hasBulkPrices",
                    "alternativeSellingPrices",
                    "id",
                    "articleId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/supplier-assignments": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-supplier-assignments",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mainSupplier": {
                            "type": "boolean"
                          },
                          "pricesActive": {
                            "type": "boolean"
                          },
                          "orderNr": {
                            "type": "null"
                          },
                          "purchasePrice": {
                            "type": "number"
                          },
                          "purchasePriceActual": {
                            "type": "number"
                          },
                          "computePurchasePriceActual": {
                            "type": "boolean"
                          },
                          "unitSell": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "null"
                          },
                          "vatRateBuy": {
                            "type": "null"
                          },
                          "minimumBulkQuantity": {
                            "type": "null"
                          },
                          "unitBuy": {
                            "type": "null"
                          },
                          "unitSize": {
                            "type": "null"
                          },
                          "base": {
                            "type": "string"
                          },
                          "computeBulkPurchasePrice": {
                            "type": "boolean"
                          },
                          "bulkPrices": {
                            "type": "array",
                            "items": {}
                          },
                          "hasBulkPrices": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "articleId": {
                            "type": "string"
                          },
                          "supplierId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "mainSupplier",
                          "pricesActive",
                          "purchasePrice",
                          "purchasePriceActual",
                          "computePurchasePriceActual",
                          "unitSell",
                          "base",
                          "computeBulkPurchasePrice",
                          "bulkPrices",
                          "hasBulkPrices",
                          "id",
                          "articleId",
                          "supplierId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/merchandise-management-setting": {
      "post": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "post-article-tenant-articles-merchandise-management-setting",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "articleId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "enabled",
                          "articleId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/search": {
      "post": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "post-article-tenant-articles-search",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "migratedId": {
                            "type": "null"
                          },
                          "articleNumber": {
                            "type": "string"
                          },
                          "dataOrigin": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "cloudDescription": {
                            "type": "string"
                          },
                          "producer": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "label",
                              "id"
                            ]
                          },
                          "color": {
                            "type": "string"
                          },
                          "side": {
                            "type": "null"
                          },
                          "barcodeNr": {
                            "type": "null"
                          },
                          "pzn": {
                            "type": "null"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "hmvNr": {
                            "type": "string"
                          },
                          "eanCode": {
                            "type": "string"
                          },
                          "serviceTypes": {
                            "type": "array",
                            "items": {}
                          },
                          "validation": {
                            "type": "null"
                          },
                          "priceData": {
                            "type": "object",
                            "properties": {
                              "suggestedRetailPrice": {
                                "type": "integer"
                              },
                              "sellingPrice": {
                                "type": "integer"
                              },
                              "vatRateKey": {
                                "type": "string"
                              },
                              "quantityUnit": {
                                "type": "string"
                              },
                              "wirtschaftlicheAufzahlung": {
                                "type": "boolean"
                              },
                              "purchasePrice": {
                                "type": "number"
                              },
                              "purchasePriceActual": {
                                "type": "integer"
                              },
                              "computePurchasePriceActual": {
                                "type": "boolean"
                              },
                              "unitSell": {
                                "type": "string"
                              },
                              "discount": {
                                "type": "null"
                              },
                              "vatRateBuy": {
                                "type": "string"
                              },
                              "minimumBulkQuantity": {
                                "type": "null"
                              },
                              "unitBuy": {
                                "type": "string"
                              },
                              "unitSize": {
                                "type": "null"
                              },
                              "base": {
                                "type": "string"
                              },
                              "computeBulkPurchasePrice": {
                                "type": "boolean"
                              },
                              "bulkPrices": {
                                "type": "array",
                                "items": {}
                              },
                              "hasBulkPrices": {
                                "type": "boolean"
                              },
                              "alternativeSellingPrices": {
                                "type": "null"
                              },
                              "id": {
                                "type": "string"
                              },
                              "articleId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "suggestedRetailPrice",
                              "sellingPrice",
                              "vatRateKey",
                              "quantityUnit",
                              "wirtschaftlicheAufzahlung",
                              "purchasePrice",
                              "purchasePriceActual",
                              "computePurchasePriceActual",
                              "unitSell",
                              "vatRateBuy",
                              "unitBuy",
                              "base",
                              "computeBulkPurchasePrice",
                              "bulkPrices",
                              "hasBulkPrices",
                              "id",
                              "articleId"
                            ]
                          },
                          "catalog": {
                            "type": "null"
                          },
                          "checksum": {
                            "type": "integer"
                          },
                          "hasCloudUpdate": {
                            "type": "boolean"
                          },
                          "cloudUpdatedAt": {
                            "type": "null"
                          },
                          "manualUpdatedAt": {
                            "type": "null"
                          },
                          "orderNr": {
                            "type": "null"
                          },
                          "stockRequiredFields": {
                            "type": "array",
                            "items": {}
                          },
                          "hmvRequiredFields": {
                            "type": "array",
                            "items": {}
                          },
                          "pznPriceData": {
                            "type": "object",
                            "properties": {
                              "langName": {
                                "type": "null"
                              },
                              "aepNetto": {
                                "type": "null"
                              },
                              "avkGross": {
                                "type": "null"
                              },
                              "unitSell": {
                                "type": "null"
                              },
                              "vatRateSell": {
                                "type": "null"
                              },
                              "darreichungsForm": {
                                "type": "null"
                              },
                              "amount": {
                                "type": "null"
                              },
                              "unit": {
                                "type": "null"
                              },
                              "discountProducer": {
                                "type": "null"
                              },
                              "vatRateBuy": {
                                "type": "null"
                              },
                              "unitBuy": {
                                "type": "null"
                              },
                              "unitSellBuyFactor": {
                                "type": "null"
                              },
                              "empty": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "empty"
                            ]
                          },
                          "articleHints": {
                            "type": "array",
                            "items": {}
                          },
                          "id": {
                            "type": "string"
                          },
                          "producerId": {
                            "type": "string"
                          },
                          "articleSize": {
                            "type": "string"
                          },
                          "materialGroupId": {
                            "type": "string"
                          },
                          "hilfsmittelArtId": {
                            "type": "null"
                          },
                          "wartungInternInterval": {
                            "type": "null"
                          },
                          "wartungHerstellerInterval": {
                            "type": "null"
                          },
                          "stkInterval": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "articleNumber",
                          "dataOrigin",
                          "description",
                          "cloudDescription",
                          "producer",
                          "color",
                          "active",
                          "hmvNr",
                          "eanCode",
                          "serviceTypes",
                          "priceData",
                          "checksum",
                          "hasCloudUpdate",
                          "stockRequiredFields",
                          "hmvRequiredFields",
                          "pznPriceData",
                          "articleHints",
                          "id",
                          "producerId",
                          "articleSize",
                          "materialGroupId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "slice": {
                      "type": "boolean"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "slice",
                    "totalElements",
                    "totalPages",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listType": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "dataOrigin": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "listType",
                  "size",
                  "dataOrigin",
                  "keywords",
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/label-configurations/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-label-configurations-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "leftBorder": {
                      "type": "number"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "positionX": {
                            "type": "integer"
                          },
                          "positionY": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "name",
                          "positionX",
                          "positionY"
                        ]
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "companyProfileId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "width",
                    "height",
                    "leftBorder",
                    "labels",
                    "id",
                    "companyProfileId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/articletenantservice/articles/search/{id}": {
      "get": {
        "tags": [
          "/apigateway/articletenantservice"
        ],
        "operationId": "get-articletenantservice-articles-search-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "migratedId": {
                      "type": "null"
                    },
                    "articleNumber": {
                      "type": "string"
                    },
                    "dataOrigin": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "cloudDescription": {
                      "type": "string"
                    },
                    "producer": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "id"
                      ]
                    },
                    "color": {
                      "type": "string"
                    },
                    "side": {
                      "type": "string"
                    },
                    "barcodeNr": {
                      "type": "null"
                    },
                    "pzn": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "hmvNr": {
                      "type": "string"
                    },
                    "eanCode": {
                      "type": "string"
                    },
                    "serviceTypes": {
                      "type": "array",
                      "items": {}
                    },
                    "validation": {
                      "type": "null"
                    },
                    "priceData": {
                      "type": "object",
                      "properties": {
                        "suggestedRetailPrice": {
                          "type": "integer"
                        },
                        "sellingPrice": {
                          "type": "integer"
                        },
                        "vatRateKey": {
                          "type": "string"
                        },
                        "quantityUnit": {
                          "type": "string"
                        },
                        "wirtschaftlicheAufzahlung": {
                          "type": "boolean"
                        },
                        "purchasePrice": {
                          "type": "number"
                        },
                        "purchasePriceActual": {
                          "type": "integer"
                        },
                        "computePurchasePriceActual": {
                          "type": "boolean"
                        },
                        "unitSell": {
                          "type": "string"
                        },
                        "discount": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "string"
                        },
                        "minimumBulkQuantity": {
                          "type": "null"
                        },
                        "unitBuy": {
                          "type": "string"
                        },
                        "unitSize": {
                          "type": "null"
                        },
                        "base": {
                          "type": "string"
                        },
                        "computeBulkPurchasePrice": {
                          "type": "boolean"
                        },
                        "bulkPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "hasBulkPrices": {
                          "type": "boolean"
                        },
                        "alternativeSellingPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "id": {
                          "type": "string"
                        },
                        "articleId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "suggestedRetailPrice",
                        "sellingPrice",
                        "vatRateKey",
                        "quantityUnit",
                        "wirtschaftlicheAufzahlung",
                        "purchasePrice",
                        "purchasePriceActual",
                        "computePurchasePriceActual",
                        "unitSell",
                        "vatRateBuy",
                        "unitBuy",
                        "base",
                        "computeBulkPurchasePrice",
                        "bulkPrices",
                        "hasBulkPrices",
                        "alternativeSellingPrices",
                        "id",
                        "articleId"
                      ]
                    },
                    "catalog": {
                      "type": "string"
                    },
                    "checksum": {
                      "type": "integer"
                    },
                    "hasCloudUpdate": {
                      "type": "boolean"
                    },
                    "cloudUpdatedAt": {
                      "type": "null"
                    },
                    "manualUpdatedAt": {
                      "type": "null"
                    },
                    "orderNr": {
                      "type": "string"
                    },
                    "stockRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "hmvRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "pznPriceData": {
                      "type": "object",
                      "properties": {
                        "langName": {
                          "type": "string"
                        },
                        "aepNetto": {
                          "type": "number"
                        },
                        "avkGross": {
                          "type": "integer"
                        },
                        "unitSell": {
                          "type": "null"
                        },
                        "vatRateSell": {
                          "type": "string"
                        },
                        "darreichungsForm": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "discountProducer": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "string"
                        },
                        "unitBuy": {
                          "type": "null"
                        },
                        "unitSellBuyFactor": {
                          "type": "null"
                        },
                        "empty": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "langName",
                        "aepNetto",
                        "avkGross",
                        "vatRateSell",
                        "darreichungsForm",
                        "amount",
                        "unit",
                        "vatRateBuy",
                        "empty"
                      ]
                    },
                    "articleHints": {
                      "type": "array",
                      "items": {}
                    },
                    "id": {
                      "type": "string"
                    },
                    "producerId": {
                      "type": "string"
                    },
                    "articleSize": {
                      "type": "string"
                    },
                    "materialGroupId": {
                      "type": "string"
                    },
                    "hilfsmittelArtId": {
                      "type": "null"
                    },
                    "wartungInternInterval": {
                      "type": "null"
                    },
                    "wartungHerstellerInterval": {
                      "type": "null"
                    },
                    "stkInterval": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "articleNumber",
                    "dataOrigin",
                    "description",
                    "cloudDescription",
                    "producer",
                    "color",
                    "side",
                    "pzn",
                    "active",
                    "hmvNr",
                    "eanCode",
                    "serviceTypes",
                    "priceData",
                    "catalog",
                    "checksum",
                    "hasCloudUpdate",
                    "orderNr",
                    "stockRequiredFields",
                    "hmvRequiredFields",
                    "pznPriceData",
                    "articleHints",
                    "id",
                    "producerId",
                    "articleSize",
                    "materialGroupId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/communicatorservice/reminders/dbopt": {
      "get": {
        "tags": [
          "/apigateway/communicatorservice"
        ],
        "operationId": "get-communicatorservice-reminders-dbopt",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/country/countries": {
      "get": {
        "tags": [
          "/apigateway/country"
        ],
        "operationId": "get-country-countries",
        "parameters": [
          {
            "name": "hasState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "iso3166": {
                            "type": "string"
                          },
                          "iso3166Alpha3": {
                            "type": "string"
                          },
                          "states": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "id"
                              ]
                            }
                          },
                          "dakotaCountry": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "stateName",
                          "iso3166",
                          "iso3166Alpha3",
                          "states",
                          "dakotaCountry",
                          "id"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "unpaged": {
                          "type": "boolean"
                        },
                        "paged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "unpaged",
                        "paged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/department/departments": {
      "get": {
        "tags": [
          "/apigateway/department"
        ],
        "operationId": "get-department-departments",
        "parameters": [
          {
            "name": "filialeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "ascending": {
                                "type": "boolean"
                              },
                              "descending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "ascending",
                              "descending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "mainUserId": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mainUserName": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "departmentFilialeNames": {
                            "type": "string"
                          },
                          "departmentFilialeLeads": {
                            "type": "string"
                          },
                          "departmentFilialeHeads": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId"
                              ]
                            }
                          },
                          "departmentFilialeUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId",
                                "userId"
                              ]
                            }
                          },
                          "departmentUsers": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "id",
                          "mainUserId",
                          "number",
                          "name",
                          "mainUserName",
                          "active",
                          "departmentFilialeNames",
                          "departmentFilialeLeads",
                          "departmentFilialeHeads",
                          "departmentFilialeUsers",
                          "departmentUsers"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "ascending": {
                            "type": "boolean"
                          },
                          "descending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "ascending",
                          "descending"
                        ]
                      }
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalElements",
                    "totalPages",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/document/stored-documents": {
      "get": {
        "tags": [
          "/apigateway/document"
        ],
        "operationId": "get-document-stored-documents",
        "parameters": [
          {
            "name": "availableTo.entityIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availableTo.type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entitySupplier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "object",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            },
                            "sorted": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "empty",
                            "sorted",
                            "unsorted"
                          ]
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "empty": {
                          "type": "boolean"
                        },
                        "sorted": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "empty",
                        "sorted",
                        "unsorted"
                      ]
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
[...]
