{
  "openapi": "3.1.0",
  "info": {
    "title": "Optica Omnia API - Playwright Discovery",
    "version": "0.1.0",
    "description": "Automatisch aus Playwright-Aufzeichnungen abgeleitete Rohfassung. Nicht als vollstaendige Hersteller-Spezifikation verstehen."
  },
  "servers": [
    {
      "url": "https://api2.optica-omnia.de"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/apigateway/accounting/payment-terms": {
      "get": {
        "tags": [
          "/apigateway/accounting"
        ],
        "operationId": "get-accounting-payment-terms",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "paymentTarget": {
                            "type": "integer"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "defaultPaymentTerm": {
                            "type": "boolean"
                          },
                          "paymentTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cashDiscountDays1": {
                            "type": "null"
                          },
                          "cashDiscountDays2": {
                            "type": "null"
                          },
                          "cashDiscountPercentage1": {
                            "type": "null"
                          },
                          "cashDiscountPercentage2": {
                            "type": "null"
                          },
                          "hasDiscount": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "title",
                          "paymentTarget",
                          "active",
                          "defaultPaymentTerm",
                          "paymentTypes",
                          "hasDiscount",
                          "id"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalElements",
                    "totalPages",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/{uuid}/merchandise-management-setting": {
      "get": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "get-article-tenant-articles-by-uuid-merchandise-management-setting",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "articleId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "enabled",
                    "articleId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/article-tenant/articles/merchandise-management-setting": {
      "post": {
        "tags": [
          "/apigateway/article-tenant"
        ],
        "operationId": "post-article-tenant-articles-merchandise-management-setting",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "articleId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "enabled",
                          "articleId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/articletenantservice/articles/search/{id}": {
      "get": {
        "tags": [
          "/apigateway/articletenantservice"
        ],
        "operationId": "get-articletenantservice-articles-search-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "migratedId": {
                      "type": "null"
                    },
                    "articleNumber": {
                      "type": "string"
                    },
                    "dataOrigin": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "cloudDescription": {
                      "type": "null"
                    },
                    "producer": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "id"
                      ]
                    },
                    "color": {
                      "type": "null"
                    },
                    "side": {
                      "type": "null"
                    },
                    "barcodeNr": {
                      "type": "null"
                    },
                    "pzn": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "hmvNr": {
                      "type": "string"
                    },
                    "eanCode": {
                      "type": "string"
                    },
                    "serviceTypes": {
                      "type": "array",
                      "items": {}
                    },
                    "validation": {
                      "type": "null"
                    },
                    "priceData": {
                      "type": "object",
                      "properties": {
                        "suggestedRetailPrice": {
                          "type": "null"
                        },
                        "sellingPrice": {
                          "type": "number"
                        },
                        "vatRateKey": {
                          "type": "string"
                        },
                        "quantityUnit": {
                          "type": "null"
                        },
                        "wirtschaftlicheAufzahlung": {
                          "type": "boolean"
                        },
                        "purchasePrice": {
                          "type": "null"
                        },
                        "purchasePriceActual": {
                          "type": "null"
                        },
                        "computePurchasePriceActual": {
                          "type": "boolean"
                        },
                        "unitSell": {
                          "type": "null"
                        },
                        "discount": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "null"
                        },
                        "minimumBulkQuantity": {
                          "type": "null"
                        },
                        "unitBuy": {
                          "type": "null"
                        },
                        "unitSize": {
                          "type": "null"
                        },
                        "base": {
                          "type": "string"
                        },
                        "computeBulkPurchasePrice": {
                          "type": "boolean"
                        },
                        "bulkPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "hasBulkPrices": {
                          "type": "boolean"
                        },
                        "alternativeSellingPrices": {
                          "type": "array",
                          "items": {}
                        },
                        "id": {
                          "type": "string"
                        },
                        "articleId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "sellingPrice",
                        "vatRateKey",
                        "wirtschaftlicheAufzahlung",
                        "computePurchasePriceActual",
                        "base",
                        "computeBulkPurchasePrice",
                        "bulkPrices",
                        "hasBulkPrices",
                        "alternativeSellingPrices",
                        "id",
                        "articleId"
                      ]
                    },
                    "catalog": {
                      "type": "null"
                    },
                    "checksum": {
                      "type": "integer"
                    },
                    "hasCloudUpdate": {
                      "type": "boolean"
                    },
                    "cloudUpdatedAt": {
                      "type": "null"
                    },
                    "manualUpdatedAt": {
                      "type": "null"
                    },
                    "orderNr": {
                      "type": "null"
                    },
                    "stockRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "hmvRequiredFields": {
                      "type": "array",
                      "items": {}
                    },
                    "pznPriceData": {
                      "type": "object",
                      "properties": {
                        "langName": {
                          "type": "string"
                        },
                        "aepNetto": {
                          "type": "number"
                        },
                        "avkGross": {
                          "type": "integer"
                        },
                        "unitSell": {
                          "type": "null"
                        },
                        "vatRateSell": {
                          "type": "string"
                        },
                        "darreichungsForm": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "unit": {
                          "type": "string"
                        },
                        "discountProducer": {
                          "type": "null"
                        },
                        "vatRateBuy": {
                          "type": "string"
                        },
                        "unitBuy": {
                          "type": "null"
                        },
                        "unitSellBuyFactor": {
                          "type": "null"
                        },
                        "empty": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "langName",
                        "aepNetto",
                        "avkGross",
                        "vatRateSell",
                        "darreichungsForm",
                        "amount",
                        "unit",
                        "vatRateBuy",
                        "empty"
                      ]
                    },
                    "articleHints": {
                      "type": "array",
                      "items": {}
                    },
                    "id": {
                      "type": "string"
                    },
                    "producerId": {
                      "type": "string"
                    },
                    "articleSize": {
                      "type": "null"
                    },
                    "materialGroupId": {
                      "type": "string"
                    },
                    "hilfsmittelArtId": {
                      "type": "null"
                    },
                    "wartungInternInterval": {
                      "type": "null"
                    },
                    "wartungHerstellerInterval": {
                      "type": "null"
                    },
                    "stkInterval": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "articleNumber",
                    "dataOrigin",
                    "description",
                    "producer",
                    "pzn",
                    "active",
                    "hmvNr",
                    "eanCode",
                    "serviceTypes",
                    "priceData",
                    "checksum",
                    "hasCloudUpdate",
                    "stockRequiredFields",
                    "hmvRequiredFields",
                    "pznPriceData",
                    "articleHints",
                    "id",
                    "producerId",
                    "materialGroupId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/arzt-tenant/aerzte/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/arzt-tenant"
        ],
        "operationId": "get-arzt-tenant-aerzte-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lanr": {
                      "type": "string"
                    },
                    "nbsnrs": {
                      "type": "array",
                      "items": {}
                    },
                    "bsnr": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "shortTitle": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "phoneNumbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phoneNumber": {
                            "type": "string"
                          },
                          "phoneType": {
                            "type": "string"
                          },
                          "isCloudReferenced": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "phoneNumber",
                          "phoneType",
                          "isCloudReferenced"
                        ]
                      }
                    },
                    "email": {
                      "type": "null"
                    },
                    "faxConnection": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street": {
                          "type": "string"
                        },
                        "houseNumber": {
                          "type": "string"
                        },
                        "addressAdditional": {
                          "type": "null"
                        },
                        "zipCode": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "poBox": {
                          "type": "null"
                        },
                        "mainAddress": {
                          "type": "boolean"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "addressType": {
                          "type": "string"
                        },
                        "countryId": {
                          "type": "string"
                        },
                        "stateId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "street",
                        "houseNumber",
                        "zipCode",
                        "city",
                        "mainAddress",
                        "active",
                        "id",
                        "addressType",
                        "countryId",
                        "stateId"
                      ]
                    },
                    "validation": {
                      "type": "null"
                    },
                    "hasCloudUpdate": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "salutation": {
                      "type": "string"
                    },
                    "contractType": {
                      "type": "null"
                    },
                    "specialities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "isCloudReferenced": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "isCloudReferenced"
                        ]
                      }
                    },
                    "doctorOrigin": {
                      "type": "string"
                    },
                    "isCloudReferenced": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "lanr",
                    "nbsnrs",
                    "bsnr",
                    "title",
                    "shortTitle",
                    "firstName",
                    "lastName",
                    "phoneNumbers",
                    "faxConnection",
                    "active",
                    "address",
                    "hasCloudUpdate",
                    "id",
                    "salutation",
                    "specialities",
                    "doctorOrigin",
                    "isCloudReferenced"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/arzt-tenant/aerzte/{uuid}/notes": {
      "get": {
        "tags": [
          "/apigateway/arzt-tenant"
        ],
        "operationId": "get-arzt-tenant-aerzte-by-uuid-notes",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/communicatorservice/reminders/dbopt": {
      "get": {
        "tags": [
          "/apigateway/communicatorservice"
        ],
        "operationId": "get-communicatorservice-reminders-dbopt",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/communicatorservice/tasks/by-process/count": {
      "get": {
        "tags": [
          "/apigateway/communicatorservice"
        ],
        "operationId": "get-communicatorservice-tasks-by-process-count",
        "parameters": [
          {
            "name": "salesProcessId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/country/countries": {
      "get": {
        "tags": [
          "/apigateway/country"
        ],
        "operationId": "get-country-countries",
        "parameters": [
          {
            "name": "hasState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "iso3166": {
                            "type": "string"
                          },
                          "iso3166Alpha3": {
                            "type": "string"
                          },
                          "states": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "id"
                              ]
                            }
                          },
                          "dakotaCountry": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "stateName",
                          "iso3166",
                          "iso3166Alpha3",
                          "states",
                          "dakotaCountry",
                          "id"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {}
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {}
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/customerservice/customers/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/customerservice"
        ],
        "operationId": "get-customerservice-customers-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerNumber": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "null"
                    },
                    "salutation": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "dateOfBirth": {
                      "type": "string"
                    },
                    "birthName": {
                      "type": "null"
                    },
                    "versichertennummer": {
                      "type": "string"
                    },
                    "migratedId": {
                      "type": "null"
                    },
                    "phoneNumbers": {
                      "type": "array",
                      "items": {}
                    },
                    "email": {
                      "type": "null"
                    },
                    "faxConnection": {
                      "type": "null"
                    },
                    "dateOfDeath": {
                      "type": "null"
                    },
                    "fiBuAccountNumber": {
                      "type": "integer"
                    },
                    "gdprSigned": {
                      "type": "boolean"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "taxIdentificationNumber": {
                      "type": "null"
                    },
                    "employee": {
                      "type": "boolean"
                    },
                    "shoeSize": {
                      "type": "null"
                    },
                    "insolesSize": {
                      "type": "null"
                    },
                    "height": {
                      "type": "null"
                    },
                    "weight": {
                      "type": "null"
                    },
                    "leistennummer": {
                      "type": "null"
                    },
                    "id": {
                      "type": "string"
                    },
                    "kundenbetreuerId": {
                      "type": "null"
                    },
                    "paymentTermsId": {
                      "type": "string"
                    },
                    "deliveryTermsId": {
                      "type": "null"
                    },
                    "employeeId": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "customerNumber",
                    "salutation",
                    "firstName",
                    "lastName",
                    "dateOfBirth",
                    "versichertennummer",
                    "phoneNumbers",
                    "fiBuAccountNumber",
                    "gdprSigned",
                    "active",
                    "employee",
                    "id",
                    "paymentTermsId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/department/departments": {
      "get": {
        "tags": [
          "/apigateway/department"
        ],
        "operationId": "get-department-departments",
        "parameters": [
          {
            "name": "filialeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "mainUserId": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mainUserName": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "departmentFilialeNames": {
                            "type": "string"
                          },
                          "departmentFilialeLeads": {
                            "type": "string"
                          },
                          "departmentFilialeHeads": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId"
                              ]
                            }
                          },
                          "departmentFilialeUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filialeName": {
                                  "type": "null"
                                },
                                "userName": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "filialeId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "userName",
                                "active",
                                "filialeId",
                                "userId"
                              ]
                            }
                          },
                          "departmentUsers": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "id",
                          "mainUserId",
                          "number",
                          "name",
                          "mainUserName",
                          "active",
                          "departmentFilialeNames",
                          "departmentFilialeLeads",
                          "departmentFilialeHeads",
                          "departmentFilialeUsers",
                          "departmentUsers"
                        ]
                      }
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pageable",
                    "size",
                    "content",
                    "number",
                    "sort",
                    "totalPages",
                    "totalElements",
                    "numberOfElements",
                    "first",
                    "last",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/document/stored-documents": {
      "get": {
        "tags": [
          "/apigateway/document"
        ],
        "operationId": "get-document-stored-documents",
        "parameters": [
          {
            "name": "entityArticle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityCustomer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entitySalesProcess",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "object",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            },
                            "sorted": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "empty",
                            "unsorted",
                            "sorted"
                          ]
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        },
                        "sorted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "empty",
                        "unsorted",
                        "sorted"
                      ]
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/enum-service/enums": {
      "get": {
        "tags": [
          "/apigateway/enum-service"
        ],
        "operationId": "get-enum-service-enums",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "enumType": {
                        "type": "string"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "tvalue": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "key",
                            "label"
                          ]
                        }
                      }
                    },
                    "required": [
                      "enumType",
                      "data"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen",
        "parameters": [
          {
            "name": "permissions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "faxConnection": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "null"
                          },
                          "employee": {
                            "type": "null"
                          },
                          "ik": {
                            "type": "string"
                          },
                          "taxIdentificationNumber": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "streetNumber": {
                            "type": "string"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "addressAdditional": {
                            "type": "null"
                          },
                          "countryUuid": {
                            "type": "string"
                          },
                          "bitsFilialNumber": {
                            "type": "null"
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "managerIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "addressId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "number",
                          "name",
                          "active",
                          "phoneNumber",
                          "faxConnection",
                          "email",
                          "ik",
                          "taxIdentificationNumber",
                          "street",
                          "streetNumber",
                          "zipCode",
                          "city",
                          "countryUuid",
                          "userIds",
                          "managerIds",
                          "addressId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "faxConnection": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "logo": {
                      "type": "null"
                    },
                    "employee": {
                      "type": "null"
                    },
                    "ik": {
                      "type": "string"
                    },
                    "taxIdentificationNumber": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "streetNumber": {
                      "type": "string"
                    },
                    "zipCode": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "addressAdditional": {
                      "type": "null"
                    },
                    "countryUuid": {
                      "type": "string"
                    },
                    "bitsFilialNumber": {
                      "type": "null"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "managerIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "addressId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "number",
                    "name",
                    "active",
                    "phoneNumber",
                    "faxConnection",
                    "email",
                    "ik",
                    "taxIdentificationNumber",
                    "street",
                    "streetNumber",
                    "zipCode",
                    "city",
                    "countryUuid",
                    "userIds",
                    "managerIds",
                    "addressId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen/{uuid}/institutionskennzeichen": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen-by-uuid-institutionskennzeichen",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "institutionsKennzeichen": {
                            "type": "string"
                          },
                          "label": {
                            "type": "null"
                          },
                          "mipMd5Key": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "filialeName": {
                            "type": "string"
                          },
                          "prequalification": {
                            "type": "boolean"
                          },
                          "dateValidFrom": {
                            "type": "null"
                          },
                          "dateValidTo": {
                            "type": "null"
                          },
                          "id": {
                            "type": "string"
                          },
                          "filialeId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "institutionsKennzeichen",
                          "mipMd5Key",
                          "active",
                          "filialeName",
                          "prequalification",
                          "id",
                          "filialeId"
                        ]
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "sort",
                        "offset",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "numberOfElements",
                    "first",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/filiale/filialen/{uuid}/institutionskennzeichen/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/filiale"
        ],
        "operationId": "get-filiale-filialen-by-uuid-institutionskennzeichen-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutionsKennzeichen": {
                      "type": "string"
                    },
                    "label": {
                      "type": "null"
                    },
                    "mipMd5Key": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "filialeName": {
                      "type": "string"
                    },
                    "prequalification": {
                      "type": "boolean"
                    },
                    "dateValidFrom": {
                      "type": "null"
                    },
                    "dateValidTo": {
                      "type": "null"
                    },
                    "id": {
                      "type": "string"
                    },
                    "filialeId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "institutionsKennzeichen",
                    "mipMd5Key",
                    "active",
                    "filialeName",
                    "prequalification",
                    "id",
                    "filialeId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/hilfsmittel/hilfsmittel/termine": {
      "get": {
        "tags": [
          "/apigateway/hilfsmittel"
        ],
        "operationId": "get-hilfsmittel-hilfsmittel-termine",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "done",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "sort",
                        "offset",
                        "pageNumber",
                        "pageSize",
                        "paged",
                        "unpaged"
                      ]
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string"
                          },
                          "property": {
                            "type": "string"
                          },
                          "ignoreCase": {
                            "type": "boolean"
                          },
                          "nullHandling": {
                            "type": "string"
                          },
                          "descending": {
                            "type": "boolean"
                          },
                          "ascending": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "direction",
                          "property",
                          "ignoreCase",
                          "nullHandling",
                          "descending",
                          "ascending"
                        ]
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "content",
                    "pageable",
                    "totalPages",
                    "totalElements",
                    "last",
                    "size",
                    "number",
                    "sort",
                    "first",
                    "numberOfElements",
                    "empty"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/kostentraeger-tenant/kostentraeger/{uuid}": {
      "get": {
        "tags": [
          "/apigateway/kostentraeger-tenant"
        ],
        "operationId": "get-kostentraeger-tenant-kostentraeger-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "ik": {
                      "type": "string"
                    },
                    "ekvIk": {
                      "type": "null"
                    },
                    "name": {
                      "type": "string"
                    },
                    "fiBuAccountNumber": {
                      "type": "null"
                    },
                    "phoneNumbers": {
                      "type": "array",
                      "items": {}
                    },
                    "faxConnection": {
                      "type": "null"
                    },
                    "email": {
                      "type": "null"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "kvPrintEkv": {
                      "type": "boolean"
                    },
                    "billingIk": {
                      "type": "boolean"
                    },
                    "zuzahlungsbefreit": {
                      "type": "boolean"
                    },
                    "dataOrigin": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street": {
                          "type": "string"
                        },
                        "houseNumber": {
                          "type": "string"
                        },
                        "addressAdditional": {
                          "type": "null"
                        },
                        "zipCode": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "poBox": {
                          "type": "null"
                        },
                        "description": {
                          "type": "null"
                        },
                        "kostentraegerDescription": {
                          "type": "string"
                        },
                        "ik": {
                          "type": "null"
                        },
                        "linked": {
                          "type": "boolean"
                        },
                        "linkedLocked": {
                          "type": "boolean"
                        },
                        "mainAddress": {
                          "type": "boolean"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "kostentraegerIk": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "addressType": {
                          "type": "string"
                        },
                        "countryId": {
                          "type": "string"
                        },
                        "stateId": {
                          "type": "string"
                        },
                        "linkedId": {
                          "type": "null"
                        },
                        "kostentraegerId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "street",
                        "houseNumber",
                        "zipCode",
                        "city",
                        "kostentraegerDescription",
                        "linked",
                        "linkedLocked",
                        "mainAddress",
                        "active",
                        "kostentraegerIk",
                        "id",
                        "addressType",
                        "countryId",
                        "stateId",
                        "kostentraegerId"
                      ]
                    },
                    "hasCloudUpdate": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isCloudReferenced": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "type",
                    "ik",
                    "name",
                    "phoneNumbers",
                    "active",
                    "kvPrintEkv",
                    "billingIk",
                    "zuzahlungsbefreit",
                    "dataOrigin",
                    "address",
                    "hasCloudUpdate",
                    "id",
                    "isCloudReferenced"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/apigateway/kostentraeger-tenant/kostentraeger/{uuid}/notes": {
      "get": {
        "tags": [
          "/apigateway/kostentraeger-tenant"
        ],
        "operationId": "get-kostentraeger-tenant-kostentraeger-by-uuid-notes",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {}
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string"
                              },
                              "ignoreCase": {
                                "type": "boolean"
                              },
                              "nullHandling": {
                                "type": "string"
                              },
                              "descending": {
                                "type": "boolean"
                              },
                              "ascending": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "direction",
                              "property",
                              "ignoreCase",
                              "nullHandling",
                              "descending",
                              "ascending"
                            ]
                          }
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "paged": {
                          "type": "boolean"
                        },
[...]
